[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim
[submodule ".vim/bundle/blackboard.vim"]
	path = .vim/bundle/blackboard.vim
	url = git://github.com/vim-scripts/blackboard.vim.git
[submodule ".vim/bundle/Conque-Shell"]
	path = .vim/bundle/Conque-Shell
	url = git://github.com/vim-scripts/Conque-Shell.git
[submodule ".vim/bundle/go-vim"]
	path = .vim/bundle/go-vim
	url = git://github.com/bcnice20/go-vim.git
[submodule ".vim/bundle/gundo.vim"]
	path = .vim/bundle/gundo.vim
	url = git://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/neocomplcache"]
	path = .vim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule ".vim/bundle/neosnippet"]
	path = .vim/bundle/neosnippet
	url = git://github.com/Shougo/neosnippet.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/presenting.vim"]
	path = .vim/bundle/presenting.vim
	url = git://github.com/sotte/presenting.vim.git
[submodule ".vim/bundle/pycomplexity"]
	path = .vim/bundle/pycomplexity
	url = git://github.com/garybernhardt/pycomplexity.git
[submodule ".vim/bundle/python-mode"]
	path = .vim/bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule ".vim/bundle/python.vim--Vasiliev"]
	path = .vim/bundle/python.vim--Vasiliev
	url = git://github.com/vim-scripts/python.vim--Vasiliev.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/Tagbar"]
	path = .vim/bundle/Tagbar
	url = git://github.com/vim-scripts/Tagbar.git
[submodule ".vim/bundle/UltiSnips"]
	path = .vim/bundle/UltiSnips
	url = git://github.com/vim-scripts/UltiSnips.git
[submodule ".vim/bundle/unite-outline"]
	path = .vim/bundle/unite-outline
	url = git://github.com/Shougo/unite-outline.git
[submodule ".vim/bundle/unite.vim"]
	path = .vim/bundle/unite.vim
	url = git://github.com/Shougo/unite.vim.git
[submodule ".vim/bundle/vcscommand.vim"]
	path = .vim/bundle/vcscommand.vim
	url = git://github.com/vim-scripts/vcscommand.vim.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = git://github.com/bling/vim-airline.git
[submodule ".vim/bundle/VimClojure"]
	path = .vim/bundle/VimClojure
	url = git://github.com/vim-scripts/VimClojure.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-indent-guides"]
	path = .vim/bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule ".vim/bundle/vim-indent-object"]
	path = .vim/bundle/vim-indent-object
	url = git://github.com/michaeljsmith/vim-indent-object.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule ".vim/bundle/vim-misc"]
	path = .vim/bundle/vim-misc
	url = git://github.com/xolox/vim-misc.git
[submodule ".vim/bundle/vim-notes"]
	path = .vim/bundle/vim-notes
	url = git://github.com/xolox/vim-notes.git
[submodule ".vim/bundle/vimproc"]
	path = .vim/bundle/vimproc
	url = git://github.com/Shougo/vimproc.git
[submodule ".vim/bundle/vim-scala"]
	path = .vim/bundle/vim-scala
	url = git://github.com/derekwyatt/vim-scala.git
[submodule ".vim/bundle/vimshell"]
	path = .vim/bundle/vimshell
	url = git://github.com/Shougo/vimshell.git
[submodule ".vim/bundle/vim-slime"]
	path = .vim/bundle/vim-slime
	url = git://github.com/jpalardy/vim-slime.git
[submodule ".vim/bundle/vim-startify"]
	path = .vim/bundle/vim-startify
	url = git://github.com/mhinz/vim-startify.git
[submodule ".vim/bundle/vimpy"]
	path = .vim/bundle/vimpy
	url = git://github.com/dbsr/vimpy.git
