*.py[co]
__pycache__
.vim/bundle/.neobundle/
.vim/.netrwhist
.emacs.d/SessionDesktop.el
.emacs.d/_trash/
emacs.d/elpa
emacs.d/tramp
emacs.d/cache
emacs.d/games
emacs.d/eshell/history
_local
.netrwhist
.VimballRecord
apps/purevim/.vim/plugged/
